body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
}

.container {
        border: 1px solid black;
        padding: 50px;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
}

progress {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 500px;
        margin-right: 20px;
        height: 20px;
}

::-moz-progress-bar {
        background-color: rgb(196, 193, 193);
}

::-webkit-progress-bar {
        background-color: rgb(196, 193, 193);
}

::-webkit-progress-value {
        background-image: linear-gradient(to right, violet, rgb(52, 52, 239));
}