* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
}

section {
        border: 1px solid black;
        height: 70vh;
        width: 30%;
        display: flex;
        flex-direction: column;
}

section div {
        background-color: rgb(60, 118, 211);
        color: white;
        text-align: center;
        border: 1px solid white;
        height: calc(70vh / 6);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}