.hero {
        background-image: url('/hero.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .trend {
                display: flex;
                align-items: center;
                gap: 10px;

                &::before {
                        content: "";
                        display: inline-block;
                        width: 40px;
                        height: 2px;
                        background-color: var(--color-primary);
                }
        }
}