<header class="bg-light d-flex fw-bold justify-content-between align-items-center p-4 text-dark">
  <a class="logo fs-3 text-dark" routerLink="/">ProductsApp</a>
  <nav class="d-flex gap-4 fs-5">
    <a routerLink="/login" routerLinkActive="active" class="text-dark text-decoration-none"
      >Login</a
    >
    <a routerLink="/register" routerLinkActive="active" class="text-dark text-decoration-none"
      >Register</a
    >
    <a routerLink="/cart" routerLinkActive="active" aria-label="cart" class="text-dark"
      ><fa-icon [icon]="faCartShopping"></fa-icon
    ></a>
  </nav>
</header>
