@font-face {
        font-family: Muli;
        src: url(./fonts/Muli.ttf);
}

:root {
        --font-primary: Muli, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        --font-secondary: 'Oswald',
                sans-serif;
        --font-dancing: 'Dancing Script', cursive;
        --primary-color: #1089FF !important;
        --navbar-height: 82.7px !important;
}

body {
        font-family: var(--font-primary) !important;
        line-height: 1.7;
        font-weight: 300;
        font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
        font-family: var(--font-secondary) !important;
}

a {
        text-decoration: none !important;
}

::-moz-selection {
        background-color: black !important;
        color: #fff !important;
}

::selection {
        background-color: black !important;
        color: #fff !important;
}

.font-primary {
        font-family: var(--font-primary) !important;
}

.font-secondary {
        font-family: var(--font-secondary) !important;
}

.font-dancing {
        font-family: var(--font-dancing) !important;
}

.btn-primary {
        background-color: var(--primary-color) !important;
        border-color: var(--primary-color) !important;

        &:hover {
                background-color: #0076e9 !important;
                border-color: #0076e9 !important;
        }
}

.text-primary {
        color: var(--primary-color) !important;
}

.text-muted {
        color: #8080809c !important;
}

.bg-primary {
        background-color: var(--primary-color) !important;
}

.border-primary {
        border-color: var(--primary-color) !important;
}

.color-primary {
        color: var(--primary-color) !important;
}

.navbar {
        letter-spacing: .05rem;
        background-color: white !important;

        @media screen and (min-width: 768px) {
                background-color: var(--primary-color) !important;
                height: var(--navbar-height) !important;

                .nav-link {
                        color: #fff !important;
                }
        }

        .nav-link {
                padding: .5rem 0 !important;
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
        }

        .active {
                border-bottom: 3px solid #fff;
        }
}

.carousel-indicators {
        z-index: 3 !important;

        button.active {
                background-color: var(--primary-color) !important;
        }
}

.carousel-inner {
        img {
                height: 100vh !important;
                -o-object-fit: cover;
                object-fit: cover;
                -o-object-position: center;
                object-position: center;
        }

        &::before {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                background: #222;
                opacity: .3;
                border-bottom-right-radius: 0px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                z-index: 1;
        }

        .card-img-overlay {
                z-index: 2;
        }

        .card-img-overlay#text-right {
                right: 10% !important;
                text-align: right;
        }

        .card-img-overlay#text-center {
                text-align: center;
        }
}

.carousel-control-prev,
.carousel-control-next {
        z-index: 3 !important;
}

.line-under-start {
        position: relative;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        padding: 0;
        margin-bottom: 3rem;

        &::after {
                content: '';
                display: block;
                margin-top: 1.5rem;
                width: 50px;
                height: 2px;
                background-color: var(--primary-color);
                position: absolute;
                left: 0;
        }
}

.line-under-center {
        position: relative;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        padding: 0;

        &::after {
                content: '';
                display: block;
                margin-top: 1.5rem;
                width: 50px;
                height: 2px;
                background-color: var(--primary-color);
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
        }
}

.testimonial p.text-muted {
        color: #ccc;
        font-size: 14px;
}

.testimonial blockquote:after {
        position: absolute;
        content: '\f10e';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        right: 20px;
        bottom: 10px;
        font-size: 20px;
        color: #1089ff;
}